/* main css */

.container-page {
    max-width: 1170px;
    margin: 0 auto;
}
.App{
    /* height: calc(100% - 60px); */
}
.page{
    width: calc(100% - 300px);
    margin-left: 300px;
}


.main-title{
    border: 2px solid;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
    background-color: #2196f3;
}
.main-title:hover::before{
    animation: left-move 0.5s linear forwards;
    z-index: -1;
}
.main-title:hover::after{
    animation: right-move 0.5s linear forwards;
    z-index: -1;
}
.main-title::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #2196f3;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}
.main-title::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -30px;
    background-color: #2196f3;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes left-move{
    50%{
        left: 0;
        height: 15px;
        width: 15px;
    }
    100%{
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
@keyframes right-move{
    50%{
        right: 0;
        height: 15px;
        width: 15px;
    }
    100%{
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

/* main css */


/* Navbar */
.navbar-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
}
.container-nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    height: 60px;
    align-items: center;
    position: relative;
    padding: 0 0 0 30px;
}
.container-nav .logo{
    color: white;
    font-size: 35px;
    /* position: absolute;
    left: 30px; */
    letter-spacing: -0.05em;
    font-weight: 600;
}
.container-nav .logo span{
    color: #77cc6d;
}
.container-nav .btns{
    display: flex;
    justify-content: space-between;
}
.container-nav .btns a{
    text-decoration: none;
    border-left: 1px solid #444;
    height: 60px;
    width: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #9B9B9B;
    font-size: 24px;
}
/* Navbar */


/* Sidebar  */

.sidebar{
    width: 300px;
    padding-top: 3em;
    padding-bottom: 95px;
    float: left;
    position: fixed;
    height: calc(100% - 150px);
    overflow-y: auto;
    background-color: #f2f3f7;

}

.container-side {
    width: 100%;
    text-align: center;
    background-color: #f2f3f7;
}
.container-side .main-info{
    margin-top: 50px;
}
.container-side .photo {
    margin-bottom: 30px;
}

.container-side .photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.container-side .main-info h1{
    margin: 0 auto 10px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.container-side .main-info p{
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: rgb(0 0 0 / 70%);
}
.container-side ul{
    padding: 0;
}
.container-side li{
    margin: 0 0 15px 0;
    list-style: none;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.container-side li a{
    text-decoration: none;
    color: rgb(0 0 0 / 70%);
    padding: 10px 0;
    position: relative;
}
.container-side li a::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    transition: 0.3s;
    background-color: #2c98f0;
    left: 0;
    bottom: 7px;
}
.container-side li:hover > a::after,
.container-side li.active a::after
{
    width: 100%;
}

.container-side .footer-sidebar div:first-of-type{
    margin: 30px auto 10px;
    font-size: 12px;
    color: rgb(0 0 0 / 50%);
}
.container-side .footer-sidebar div:last-of-type{
    font-size: 16px;
    color: rgb(0 0 0 / 50%);
}
.container-side .footer-sidebar div:last-of-type a{
    text-decoration: none;
    color: #2c98f0;
    font-size: 15px;
    font-weight: 500;
}

/* Sidebar  */


/* Home page */

.home {
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    position: relative;
}
.home::before{
    content: "";
    background-color: #ececec;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: -120px;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.info-home {
    position: relative;
    min-height: calc(100vh - 60px );
}
.info-home img{
    position: absolute;
}
.info-home img:first-of-type{
    left: 20px;
    bottom: 0;
    width: 200px;
    animation: up 10s linear infinite;
}
.info-home img:last-of-type{
    right: 20px;
    width: 350px;
    animation: down 10s linear infinite;
}
.info-home .text{
    position: absolute;
    bottom: 25px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
.info-home .text a{
    cursor: pointer;
}
.info-home .text i{
    text-decoration: none;
    color: #2196f3;
    font-weight: bold;
    font-size: 25px;
    animation: up-and-down 1.5s infinite;
}
.info-home .text i:hover{
    color: #1787e0;
}

@keyframes up{
    0%, 100%{
        bottom: 0;
    }
    50% {
        bottom: 50%;
        transform: translateY(50%);
    }
}
@keyframes down{
    0%, 100%{
        top: 0;
        /* right: 20px; */
    }
    50% {
        top: 50%;
        /* right: 25%; */
        transform: translateY(-50%);
    }
}
@keyframes up-and-down{
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-15px);
    }
}

/* Home page */

/* About  */

.about{
    padding: 100px 0;
}

.about .text{
    text-align: center;
}
.about .text h2{
    font-size: 25px;
    font-weight: bold;
}
.about .text p{
    font-size: 18px;
}
.about .skills{
    text-align: center;
}
.about .skills p{
    font-size: 18px;
    font-weight: 500;
}
.about .skills ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about .skills ul li{
    list-style: none;
    font-weight: bold;
    border: 1px solid gray;
    padding: 7px 4px;
}
/* 
.main-title{
    border: 2px solid;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
    background-color: #2196f3;
}
.main-title:hover::before{
    animation: left-move 0.5s linear forwards;
    z-index: -1;
}
.main-title:hover::after{
    animation: right-move 0.5s linear forwards;
    z-index: -1;
}
.main-title::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #2196f3;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}
.main-title::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -30px;
    background-color: #2196f3;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes left-move{
    50%{
        left: 0;
        height: 15px;
        width: 15px;
    }
    100%{
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
@keyframes right-move{
    50%{
        right: 0;
        height: 15px;
        width: 15px;
    }
    100%{
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
} */


/* About  */



/* Algorthims  */

.algorithms{
    padding: 50px;
}
.algorithms .cont-alg{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: 50px 0;
}
.algorithms .alg{
    text-align: center;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}
.algorithms .alg:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.algorithms .alg img{
    max-width: 100%;
}
.alg .info{
    padding: 20px;
}
.alg p{
    color: gray;
    font-size: 14px;
    margin-bottom: 30px;
}
.alg .more{
    font-weight: bold;
    font-size: 17px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e6e6e7;
    color: #2c98f0;
    cursor: pointer;
    text-decoration: none;
}
.alg .more i{
    font-weight: bold;
    font-size: larger;
}
.algorithms .alg:hover i{
    animation: move-right 0.6s linear infinite;
}
@keyframes move-right {
    100%{
        transform: translateX(10px);
    }
}

/* Algorthims  */


/* Contact  */

.contact{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}
.contact h3{
    display: block;
    width: 100%;
    margin-bottom: 50px;
}
.contact h3 span:first-of-type{
    display: block;
    font-size: 10px;
    font-weight: normal;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.contact h3 span:last-of-type{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1.8;
    margin-bottom: 4em;
}
.contact .boxes{
    width: 50%;
}
.contact .box {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.contact .box .text p a{
    color: #2c98f0;
}
.contact .box:nth-child(2) .text p{
    color: gray;
    font-size: 17px;
    margin: 0;
    padding: 0;
}
.contact .box .icon{
    padding: 35px;
    background-color: #f2f3f7;
    font-size: 25px;
    color: #2c98f0;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.contact .info{
    width: 50%;
}
.contact .info div{
    background-color: #f2f3f7;
    padding: 15px;
    margin-bottom: 20px;
    max-width: 100%;
}
.contact .info div input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}
.contact .info div input::placeholder{
    color: gray;
}
.contact .info .textarea{
    background-color: #f2f3f7;
    max-width: 100%;
    height: 130px;
}
.contact .info textarea{
    width: 100%;
    background-color: #f2f3f7;
    border: none;
    outline: none;
    height: 100%;
    resize: none;
}
.contact .info .btn{
    width: fit-content;
    padding: 20px 30px;
    background-color: #2c98f0;
}
.contact .info .btn input {
    color: white;
    cursor: pointer;
    font-size: 15px;
}

/* Contact  */