/* main css */

.container-page {
    max-width: 1170px;
    margin: 0 auto;
}
.App{
    /* height: calc(100% - 60px); */
}
.page{
    width: calc(100% - 300px);
    margin-left: 300px;
}


.main-title{
    border: 2px solid;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
    background-color: #2196f3;
}
.main-title:hover::before{
    animation: left-move 0.5s linear forwards;
    z-index: -1;
}
.main-title:hover::after{
    animation: right-move 0.5s linear forwards;
    z-index: -1;
}
.main-title::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #2196f3;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}
.main-title::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -30px;
    background-color: #2196f3;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes left-move{
    50%{
        left: 0;
        height: 15px;
        width: 15px;
    }
    100%{
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
@keyframes right-move{
    50%{
        right: 0;
        height: 15px;
        width: 15px;
    }
    100%{
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

/* main css */


/* Navbar */
.navbar-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
}
.container-nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    height: 60px;
    align-items: center;
    position: relative;
    padding: 0 0 0 30px;
}
.container-nav .logo{
    color: white;
    font-size: 35px;
    /* position: absolute;
    left: 30px; */
    letter-spacing: -0.05em;
    font-weight: 600;
}
.container-nav .logo span{
    color: #77cc6d;
}
.container-nav .btns{
    display: flex;
    justify-content: space-between;
}
.container-nav .btns a{
    text-decoration: none;
    border-left: 1px solid #444;
    height: 60px;
    width: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #9B9B9B;
    font-size: 24px;
}
/* Navbar */


/* Sidebar  */

.sidebar{
    width: 300px;
    padding-top: 3em;
    padding-bottom: 95px;
    float: left;
    position: fixed;
    height: calc(100% - 200px);
    overflow-y: auto;
    background-color: #f2f3f7;

}

.container-side {
    width: 100%;
    text-align: center;
    background-color: #f2f3f7;
}
.container-side .photo {
    margin-bottom: 30px;
}
.container-side .photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.container-side .main-info h1{
    margin: 0 auto 10px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.container-side .main-info p{
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: rgb(0 0 0 / 70%);
}
.container-side ul{
    padding: 0;
}
.container-side li{
    margin: 0 0 15px 0;
    list-style: none;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.container-side li a{
    text-decoration: none;
    color: rgb(0 0 0 / 70%);
    padding: 10px 0;
    position: relative;
}
.container-side li a::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    transition: 0.3s;
    background-color: #2c98f0;
    left: 0;
    bottom: 7px;
}
.container-side li:hover > a::after,
.container-side li.active a::after
{
    width: 100%;
}

.container-side .footer-sidebar div:first-of-type{
    margin: 30px auto 10px;
    font-size: 12px;
    color: rgb(0 0 0 / 50%);
}
.container-side .footer-sidebar div:last-of-type{
    font-size: 16px;
    color: rgb(0 0 0 / 50%);
}
.container-side .footer-sidebar div:last-of-type a{
    text-decoration: none;
    color: #2c98f0;
    font-size: 15px;
    font-weight: 500;
}

/* Sidebar  */


/* Algorthims  */

.algorithms{
    padding: 50px;
}
.algorithms .cont-alg{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: 50px 0;
}
.algorithms .alg{
    text-align: center;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}
.algorithms .alg:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.algorithms .alg img{
    max-width: 100%;
}
.alg .info{
    padding: 20px;
}
.alg p{
    color: gray;
    font-size: 14px;
    margin-bottom: 30px;
}
.alg .more{
    font-weight: bold;
    font-size: 17px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e6e6e7;
    color: #2c98f0;
    cursor: pointer;
    text-decoration: none;
}
.alg .more i{
    font-weight: bold;
    font-size: larger;
}
.algorithms .alg:hover i{
    animation: move-right 0.6s linear infinite;
}
@keyframes move-right {
    100%{
        transform: translateX(10px);
    }
}

/* Algorthims  */