body {
  background-image: url(../imgs/pexels-pixabay-220182.jpg);
  background-size: cover;
  margin: 0;
}
.controls {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #333333;
  padding: 10px;
  color: white;
  align-items: center;
}
.logo{
  color: white;
  font-size: 35px;
  letter-spacing: -0.05em;
  font-weight: 600;
  display: block;
  /* margin: 0 30px; */
}
.logo span{
  color: #77cc6d;
}
.clear:after {
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#search_grid  {
  width:650px;
	height:650px;
	position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.grid_item {
  display: block;
	border: 1px solid #bbb;
	float: left;
	line-height:12px;
	font-size:10px;
}
.grid_item.wall {
  background-color: #000000;
}
.grid_item.weight1 {
  background-color: #ffffff;
}
.grid_item.weight3 {
  background-color: #D6EAFF;
}
.grid_item.weight5 {
  background-color: #ABD1FF;
}
.grid_item.start {
  background-color: #2196f3;
}
.grid_item.active {
  background-color: #2196f3;
}
#weightsKey {
  display: none;
}
#btnGenerate{
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
#btnGenerate:hover{
  background-color: #2196f3;
}

#message {
  color:#2196f3;
  font-size:1.2em;
  display: block;
  margin: 0 auto;
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main a{
  background-color: #333333;
  text-decoration: none;
  color: white;
  padding: 15px 10px;
  border-radius: 10px;
}
.main a:first-child{
  margin-left: 50px;
}
.main a:last-child{
  margin-right: 50px;

}
.main a:hover{
  background-color: black;
}