
#content {
  margin: 60px auto 0;
  width: 98%;
  text-align: center;
}
h2 {
  font-weight:normal;
  padding-top: 30px;
}
.clear{

}
#header, #footer {
	background:#ddf;
}

#footer {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
#footer a{
  background-color: #333333;
  text-decoration: none;
  color: white;
  padding: 15px 10px;
  border-radius: 10px;
}
#footer a:hover{
  background-color: black;
}
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#message {
	color:#2196f3;
	font-size:1.2em;
  display: block;
  margin: 0 auto;
}
#controls {
	border: solid 3px #333333;
	border-left:none;
	border-right:none;
	margin: 25px auto;
	padding:5px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#search_grid  {
	width:650px;
	height:650px;
	position: relative;
  margin: 0 auto;
}

.grid_item {
	display: block;
	border: 1px solid #bbb;
	float: left;
	line-height:12px;
	font-size:10px;
}
.grid_item.wall {
  background-color: #000000;
}
.grid_item.weight1 {
  background-color: #ffffff;
}
.grid_item.weight3 {
  background-color: #D6EAFF;
}
.grid_item.weight5 {
  background-color: #ABD1FF;
}
.grid_item.start {
	background-color: #2196f3;
}
.grid_item.active {
	background-color: #2196f3;
}
.grid_item.finish {

}
#weightsKey {
  display: none;
}
#btnGenerate{
  background-color: #333333;
  color: white;
  padding: 10px;
  border: navajowhite;
  border-radius: 6px;
  cursor: pointer;
}
#btnGenerate:hover{
  background-color: black;
}