body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100vh;
  background-image: url(../imgs/concept-portrait-overstimulated-person.jpg);
  background-size: cover;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: white;
  background-color: var(--grey-color);
}
::-webkit-scrollbar-thumb{
  background-color: #333333;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #242424;
}

/* 
#graph {
  overflow-x:scroll;
  width: 90%;
  font-size: .8em;
  margin:0 auto;
  white-space:pre;
  border:none;
} */
.info{
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #333333;
  padding: 10px;
  color: white;
  align-items: center;
  height: auto;
}
.logo{
  color: white;
  font-size: 35px;
  letter-spacing: -0.05em;
  font-weight: 600;
  display: block;
  /* margin: 0 30px; */
  text-decoration: none;
}
.logo span{
  color: #77cc6d;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

}
.controls span {
  display: block;
}
.content{
  /* background-image: url(../imgs/pexels-fwstudio-129731.jpg); */
  background-size: cover;
  height: 100%;
}

#footer {
	border-top:solid 2px #fff;
	margin-top:20px;
	padding-top:5px;
}

ul.basics {
	list-style-type:none;
}
ul.basics li {
	margin-bottom: .45em;
}
.result-panel {
	width:80%;
	padding:10px;
	margin:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;
}
pre {
	padding-left:10px;
	border-left: solid 5px #99b;
}
.result-panel pre {
	border-left: solid 5px #b99;
}
.result-panel pre span {
	font-size:1.4em;
	color: #f11;
	font-weight:bold;
}
pre span.key {
	color: #f11;
	font-weight:normal;
}


.left {
	float:left;
}
.right {
	float: right;
}
/* .clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
} */

#message {
	color:#2c98f0;
	font-size:1.2em;
}
/* #controls {
	border-left:none;
	border-right:none;
	margin-bottom: 25px;
	padding:5px 0;
	width:650px;
} */
#search_grid  {
	width:650px;
	height:650px;
	position: relative;
}

.grid_item {
	display: block;
	border: 1px solid #bbb;
	float: left;
	line-height:12px;
	font-size:10px;
}
.grid_item.wall {
  background-color: #000000;
}
.grid_item.weight1 {
  background-color: #ffffff;
}
.grid_item.weight3 {
  background-color: #D6EAFF;
}
.grid_item.weight5 {
  background-color: #ABD1FF;
}
.grid_item.start {
	background-color: #FF703F;
}
.grid_item.active {
	background-color: #FF703F;
}
.grid_item.finish {

}
#weightsKey {
  display: none;
}

/* Sidebar  */

.sidebar{
  width: 300px;
  padding-top: 1em;
  padding-bottom: 60px;
  float: left;
  position: fixed;
  /* margin-top: 1px; */
  height: 100%;
  background-color: #f2f3f7;
  box-shadow: 3px 0px 10px #333333;
}

.container-side {
  width: 100%;
  text-align: center;
  background-color: #f2f3f7;
  margin: 0 0 60px;
}
/* .container-side .main-info{
  margin-top: 50px;
} */
.container-side .photo {
  margin-bottom: 10px;
}

.container-side .photo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.container-side .main-info h1{
  margin: 0 auto 10px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.container-side .main-info p{
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: rgb(0 0 0 / 70%);
}
.container-side ul{
  padding: 0;
}
.container-side li{
  margin: 0 0 15px 0;
  list-style: none;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container-side li a{
  text-decoration: none;
  color: rgb(0 0 0 / 70%);
  padding: 10px 0;
  position: relative;
}
.container-side li a::after{
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  transition: 0.3s;
  background-color: #2c98f0;
  left: 0;
  bottom: 7px;
}
.container-side li:hover > a::after,
.container-side li.active a::after
{
  width: 100%;
}

.container-side .footer-sidebar div:first-of-type{
  margin: 30px auto 10px;
  font-size: 12px;
  color: rgb(0 0 0 / 50%);
}
.container-side .footer-sidebar div:last-of-type{
  font-size: 16px;
  color: rgb(0 0 0 / 50%);
}
.container-side .footer-sidebar div:last-of-type a{
  text-decoration: none;
  color: #2c98f0;
  font-size: 15px;
  font-weight: 500;
}

/* Sidebar  */
.content{
  padding-top: 82px;
  height: calc(100% - 82px);
}

.container-canvas{
  width: calc(100% - 300px);
  margin-left: auto;
}

#search_grid{
  margin: 0 auto;
}

.btn {
  border: none;
    padding: 7px 10px;
    color: white;
    background-color: #2c98f0;
    cursor: pointer;
}
.btn:hover{
  background-color: #226aa3 ;
}

@media(max-width: 1200px){
  .content{
    padding-top: 123px;
    height: calc(100% - 123px);
  }
}
@media(max-width: 935px){
  .content{
    padding-top: 163px;
    height: calc(100% - 163px);
  }
  .sidebar{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    float: none;
    margin-top: -15px;
  }
  .sidebar .main-info{
    display: none;
  }
  .sidebar .footer-sidebar{
    display: none;
  }
  .sidebar .links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px;
    gap: 5px;
  }
  .container-side {
    margin: 0;
  }
  .container-canvas{
    width: 100%;
    margin-left: 0;
  }
}

@media(max-width: 735px){
  .content{
    padding-top: 202px;
  }
}
@media(max-width: 650px){
  .content{
    padding-top: 0;
  }
  .info a{
    font-size: 18px;
    text-align: center;
  }
  .info{
    display: block;
    position: relative;
  }
}

@media(max-width: 500px){
  .sidebar{
    position: relative;
  }
}